<h1>Dice Roll</h1>

<form action="/process_roll">

<div><label for="dice">Number of dice to roll?</label></div>
<div><input id="dice" type="text" name="dice"></div>

<div><label for="sides">How many sides per die?</label></div>
<div><input id ="sides" type="text" name="sides"></div>

<div><button>Roll!</button></div>

</form>
